.formField {
  height: auto;
  margin: 4px 0 2px 0;
  border-radius: 8px;
}

.container {
  position: relative;
  height: 56px;
  width: 100%;
  border-radius: 8px;
}

.label {
  font-size: 12px;
  text-align: left;
  width: 100%;
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
}

.error {
  text-align: left;
  color: red;
  margin-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  height: 20px;
}

.ogInput {
  position: absolute;
  left: 0;
  border-radius: 8px;
  outline: none;
}
